{% extends "themes/custom/egemsa/templates/base.html.twig" %}

{% block previous %}
<aside class="video-container clearfix">
  {{ page.home_video }}
  <div class="footer-video">
    <div class="top-video">
      <figure class="aenor">
        <a href="/sistema-de-gestion-integrado"><img src="{{ base_path ~ directory }}/assets/isos.svg" alt="AENOR" height="90" /></a>
      </figure>
      <div class="text-intro">
        <p>
          <span class="first">Trabajando con energía</span>
          <span class="second">para producir energía</span>
        </p>
      </div>
      <figure class="video-thumb">
        <a href="https://www.youtube.com/watch?v=bAf18x-m2fs" data-lity><img src="{{ base_path ~ directory }}/assets/video-thumb.jpg" alt="Video Thumb"  /></a>
      </figure>

      <div class="flecha"></div>
    </div>

    <div class="bottom-video">
      <figure class="aenor">
        <a href="/sistema-de-gestion-integrado"><img src="{{ base_path ~ directory }}/assets/isos.svg" alt="AENOR"  /></a>
      </figure>
      <figure class="transparencia">
        <a href="http://www.transparencia.gob.pe/enlaces/pte_transparencia_enlaces.aspx?id_entidad=13030" target="_blank"><img src="{{ base_path ~ directory }}/assets/transparencia.svg" alt="Transparencia"  /></a>
      </figure>
      <figure class="video-thumb">
        <a href="https://www.youtube.com/watch?v=bAf18x-m2fs" data-lity></a><img src="{{ base_path ~ directory }}/assets/video-thumb.jpg" alt="Video Thumb" />
      </figure>
    </div>
  </div>
</aside>
{% endblock %}

{% block main %}
<section id="home-nosotros">
    {{ page.home_nosotros }}

    <div class="icons">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="eg-icon-container">
              <div class="eg-icon icon-represa"></div>
              <p>1 Represa</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="eg-icon-container">
              <div class="eg-icon icon-subs"></div>
              <p>3 Substaciones</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="eg-icon-container">
              <div class="eg-icon icon-208"></div>
              <p><span class="count" data-value="208">208</span> MW</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="clearfix"></div>

<section id="home-instalaciones">
  {{ page.home_instalaciones }}

  <div class="home-places-container blue-arrows">
    {{ page.home_ins_slider }}
  </div>
</section>

<section id="home-clientes">
  <div class="eg-icon icon-clientes"></div>
  <div class="container">
    <h3 class="home-title right" data-aos="flip-up">Nuestros clientes</h3>
    <div class="slider-clientes green-dots">
      {{ page.home_clientes }}
    </div>
  </div>

  <div class="eg-icon icon-social"></div>
</section>

<div class="gray-section">

  <section id="home-responsabilidad">
    <h3 class="home-title"  data-aos="fade-right">Responsabilidad Social</h3>
    <div class="slider-responsabilidad green-dots">
      {{ page.home_resp_fotos }}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="slider-responsabilidad-text">
            {{ page.home_resp_texto }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="home-ambiente">
    <div class="eg-icon icon-ambiente"></div>
    {{ page.home_ambiente }}
  </section>
</div>

<section id="home-enlaces">
  <div class="container">
    <h3 class="home-title right" data-aos="fade-up">Enlaces rápidos</h3>

    <div class="enlaces-container">
      <div class="enlace-item">
        <figure>
          <a href="/anuncios"><img src="{{ base_path ~ directory }}/assets/fotos/enlace1.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text anuncios">
          <h4><a href="/anuncios">Anuncios</a></h4>
          <p>Convocatorias y prácticas pre-profesionales</p>
        </div>
      </div>

      <div class="enlace-item">
        <figure>
          <a href="/form/mesa"><img src="{{ base_path ~ directory }}/assets/fotos/enlace2.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text mesa">
          <h4><a href="/form/mesa">Mesa de partes virtual</a></h4>
          <p>Recepción de documentos</p>
        </div>
      </div>

      <div class="enlace-item">
        <figure>
          <a href="/form/reclamaciones"><img src="{{ base_path ~ directory }}/assets/fotos/enlace3.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text libro">
          <h4><a href="/form/reclamaciones">Libro de reclamos</a></h4>
          <p>Presentar reclamo de forma virtual</p>
        </div>
      </div>

      <div class="enlace-item">
        <figure>
          <a href="/form/contact"><img src="{{ base_path ~ directory }}/assets/fotos/enlace4.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text contacto">
          <h4><a href="/form/contact">Contáctenos</a></h4>
          <p>Por teléfono o correo electrónico</p>
        </div>
      </div>

      <div class="enlace-item">
        <figure>
          <a href="/form/buzon-de-sugerencias"><img src="{{ base_path ~ directory }}/assets/fotos/enlace5.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text buzon1">
          <h4><a href="/form/buzon-de-sugerencias">Buzón de sugerencias</a></h4>
          <p>Estamos para escucharlo</p>
        </div>
      </div>

      <div class="enlace-item">
        <figure>
          <a href="/form/buzon-de-denuncias"><img src="{{ base_path ~ directory }}/assets/fotos/enlace6.jpg" alt="" class="parallay"></a>
        </figure>
        <div class="enlace-item-text buzon2">
          <h4><a href="/form/buzon-de-denuncias">Buzón de denuncias</a></h4>
          <p>Presentar una denuncia virtual</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="home-galeria">
  <div class="eg-icon icon-galeria"></div>
  <h3 class="home-title" data-aos="fade-right">Galería</h3>
  <div class="slider-galeria blue-arrows">
    {{ page.home_galeria }}
  </div>
  <div class="galeria-text">
    <p>{{ page.home_galeria_texto }}</p>
  </div>
</section>

<section id="home-publicaciones">
  <div class="container">
    <div class="eg-icon icon-publicaciones"></div>
    <div class="pub-header">
      <div class="row">
        <div class="col-md-6">
          <h3 class="home-title"  data-aos="fade-up">Nuestras publicaciones</h3>
        </div>
        <div class="col-md-6">
          <p class="publicaciones-text">
            {{ page.home_texto_publicaciones }}
          </p>
        </div>
      </div>
    </div>

    <div class="slider-publicaciones blue-arrows">
      {{ page.home_publicaciones }}
    </div>
    <p class="text-right">
      <a href="/publicaciones">Ver más..</a>
    </p>
  </div>
</section>

<section id="home-interes" data-aos="fade-up">
  <h3>Enlaces de interés</h3>
  <div class="container">
    <div class="row">
      {{ page.home_interes }}
    </div>
  </div>
</section>
{% endblock %}
